<header>

    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('./assets/IMG_4907.JPEG'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
            <!-- Jumbotron -->
            <div class="jumbotron text-center blue-grey lighten-5">

                <!-- Title -->
                <h2 class="card-title h2">Con que perfil te quieres registrar?</h2>

                <!-- Subtitle -->
                <p class="indigo-text my-4 font-weight-bold">Selecciona el adecuado</p>

                <!-- Grid row -->
                <div class="row d-flex justify-content-center">

                    <!-- Grid column -->
                    <div class="col-xl-7 pb-2">

                        <p class="card-text">De esta forma te ense;aremos las opciones disponibles para cada uno de los perfiles</p>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <hr class="my-4 pb-2">

                <button mdbBtn gradient="blue" rounded="true" mdbWavesEffect>Cliente <mdb-icon fas icon="user-lock" class="ml-1"></mdb-icon>
                  <a
                  class="nav-link"
                  routerLink="client-nav"
                  routerLinkActive="router-link-active"
                  ></a>
                </button>
                <button mdbBtn color="indigo" rounded="true" mdbWavesEffect>Proveedor <mdb-icon fas icon="user-lock" class="ml-1"></mdb-icon>
                  <a
                  class="nav-link"
                  routerLink="provider-nav"
                  routerLinkActive="router-link-active"
                  ></a>
                </button>

            </div>
            <!-- Jumbotron -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->

</header>
