<!--<pr-navigation-home></pr-navigation-home>-->

<!-- Main navigation -->
<header>

    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('./assets/IMG_4907.JPEG'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row pt-lg-5 mt-lg-5">
                    <!--Grid column-->
                    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
                        <h1 class="display-5 font-weight-bold">Looking For Services ?</h1>
                        <hr class="hr-light" />
                        <h6 class="mb-3">
                            Te mostramos alguno de los Servicios que podemos ofrecer:
                            <!-- Aqui la pantalla con las fotos de los servicios Carrusel-->
                            <div class="jumbotron text-center blue-grey lighten-5">
                                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                                    <mdb-carousel-item>
                                        <div class="view w-100">
                                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3 class="h3-responsive">Light mask</h3>
                                            <p>First text</p>
                                        </div>
                                    </mdb-carousel-item>
                                    <mdb-carousel-item>
                                        <div class="view w-100">
                                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                                            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3 class="h3-responsive">Strong mask</h3>
                                            <p>Secondary text</p>
                                        </div>
                                    </mdb-carousel-item>
                                    <mdb-carousel-item>
                                        <div class="view w-100">
                                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                        </div>
                                        <div class="carousel-caption">
                                            <h3 class="h3-responsive">Slight mask</h3>
                                            <p>Third text</p>
                                        </div>
                                    </mdb-carousel-item>
                                </mdb-carousel>
                            </div>
                        </h6>
                        <h6 class="mb-3">
                            Si quieres darte de Alta como Cliente, y que contactemos contigo, registrate en el <a class="nav-link" routerLink="/auth/login" routerLinkActive="router-link-active"><strong>Area Privada</strong></a
                      >
                    </h6>
                    <h6 class="mb-3">
                      Si quieres es inscribirte como Proveedor de Servicios,
                      registrate en el <a
                      class="nav-link"
                      routerLink="/auth/login"
                      routerLinkActive="router-link-active"
                      ><strong>Area Privada</strong></a
                    >
                  </h6>
                      <!--<a mdbBtn color="white" outline="true" mdbWavesEffect
        >Online Reservation</a-->

                  </div>
                  <!--Grid column-->
                  <!--Grid column-->

              </div>
              <!--Grid row-->
          </div>
          <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->

</header>
<!-- Main navigation -->
